/* Estilos Gerais */
body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: #252525;
	color: #fff;
}

a {
	color: #337ab7;
	text-decoration: none;
}

a:hover {
	color: #23527c;
	text-decoration: underline;
}

/* Estilos do Cabeçalho */
header {
	background-color: #333;
	padding: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
}

nav ul li {
	margin-left: 20px;
}

nav ul li:first-child {
	margin-left: 0;
}

nav ul li a {
	color: #fff;
	font-weight: bold;
}

/* Estilos do Herói */
.hero {
	background-position: center;
	background-size: cover;
	text-align: center;
	padding: 50px 0;
	color: #fff;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.hero h1 {
	font-size: 48px;
	margin: 0;
}

.hero p {
	font-size: 24px;
	margin: 20px 0 30px;
}

.btn-play {
	background-color: #fff;
	color: #333;
	padding: 15px 30px;
	border: none;
	border-radius: 25px;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
}

.btn-play:hover {
	background-color: #333;
	color: #fff;
}

.hero-img {
	flex: 1;
	margin-left: 50px;
	position: relative;
}

.hero-img img {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	max-width: 100%;
	max-height: 100%;
	border-radius: 10px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Estilos dos Recursos */
.features {
	padding: 80px 0;
	text-align: center;
}

.features h2 {
	font-size: 36px;
	margin: 0;
}

.features ul {
	margin-top: 40px;
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.features li {
	margin: 20px;
	font-size: 24px;
	display: flex;
	align-items: center;
}

.features li i {
	margin-right: 10px;
	color: #fff;
}

.features li:nth-child(odd) {
	background-color: #23527c;
	padding: 10px 20px;
	border-radius: 10px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.features li:nth-child(even) {
	background-color: #23527c;
	padding: 10px 20px;
	border-radius: 10px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Estilos das Capturas de Tela */
.screenshots {
	background-color: #252525;
	padding: 80px 0;
	text-align: center;
}

.screenshots h2 {
	font-size: 36px;
	margin: 0;
}

.image-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 40px;
}

.image-gallery img {
	width: 300px;
	height: auto;
	margin: 20px;
	border-radius: 10px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Estilos do Call-to-Action */
.cta {
	background-color: #333;
	padding: 80px 0;
	text-align: center;
	color: #fff;
}

.cta h2 {
	font-size: 36px;
	margin: 0;
}

.cta p {
	font-size: 24px;
	margin: 20px 0 30px;
}

/* Estilos do Rodapé */
footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
}